
.vs/EdgeFilteredDataPOC/xs/UserPrefs.xml
.vscode/extensions.json
.vs/EdgeFilteredDataPOC/xs/UserPrefs.xml
.vscode/launch.json
.vscode/settings.json
.vs/EdgeFilteredDataPOC/xs/UserPrefs.xml
.vscode/tasks.json
.vs/EdgeFilteredDataPOC/xs/UserPrefs.xml
.vs/EdgeFilteredDataPOC/xs/UserPrefs.xml
.vs/EdgeFilteredDataPOC/xs/UserPrefs.xml
.vs/EdgeFilteredDataPOC/xs/UserPrefs.xml
